<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.spring.mapper.ComplaintsMapper">
    <insert id="insertComplaints" parameterType="com.xzit.spring.entity.Complaints">
    insert into ice_box.complaints (complaintsid, workorderid,
      userId, content,`time`,images)
    values (#{complaintsid}, #{workorderid}, #{userId},
     #{content}, #{time}, #{images})
  </insert>

    <select id="selectComplaints" resultType="com.xzit.spring.entity.Complaints">
         select
 ice_box.complaints.complaintsid,
 ice_box.complaints.workorderid,
  ice_box.complaints.content,
   ice_box.complaints.time,
 ice_box.user.userId,
 ice_box.user.name,
 ice_box.user.phone
 from
 ice_box.complaints,
 ice_box.user
 where
ice_box.complaints.userid=ice_box.user.userId
    </select>

    <select id="selectComplaintsByWorkorderid" resultType="com.xzit.spring.entity.Complaints">
         select
 ice_box.complaints.complaintsid,
 ice_box.complaints.workorderid,
  ice_box.complaints.content,
   ice_box.complaints.time,
 ice_box.user.userId,
 ice_box.user.name,
 ice_box.user.phone
 from
 ice_box.complaints,
 ice_box.user
 where
ice_box.complaints.userid=ice_box.user.userId
and ice_box.complaints.workorderid= #{workorderid}
    </select>
    <delete id="deleteByComplaintsid" parameterType="String">
        delete  from ice_box.complaints where complaintsid=#{complaintsid}
    </delete>

    <update id="updateByComplaintsid" parameterType="com.xzit.spring.entity.Complaints">
        update ice_box.complaints
         set
          complaintsid=#{complaints.complaintsid},
          workorderid=#{complaints.workorderid},
          userId=#{complaints.userId},
          name=#{complaints.name},
          phone=#{complaints.phone},
          where
          workId=#{staff.workId}
    </update>
</mapper>