<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.spring.mapper.OrderMapper">
   <select id="selectOrderrInf" parameterType="String" resultType="com.xzit.spring.entity.Order">
        select * from ice_box.order where orderid=#{orderId}
    </select>
    <select id="selectOrder" resultType="com.xzit.spring.entity.Order">
       select * from ice_box.order
    </select>

    <select id="selectOrderByOrderId" resultType="com.xzit.spring.entity.Order">
       select * from ice_box.order where orderid=#{orderId}
    </select>
</mapper>