<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.spring.mapper.UserMapper">
    <select id="findUserBy" parameterType="String" resultType="com.xzit.spring.entity.User">
        select * from user where userId=#{account} and password=#{password}
    </select>
    <insert id="registeruser" parameterType="com.xzit.spring.entity.User" >
            insert into user values(#{user.userId},#{user.name},#{user.phone},#{user.sex},#{user.age},#{user.password},#{user.address},"1d")
    </insert>
    <select id="findUserByUid" parameterType="String" resultType="com.xzit.spring.entity.User">
        select * from user where userId=#{userId}
    </select>
    <select id="getAuthUserFunction" parameterType="com.xzit.spring.entity.User" resultType="Map">
        SELECT userId, url FROM user, role_permission, permission
        WHERE
        user_role.role_id = role_permission.sys_role_id
        AND role_permission.sys_permission_id = permission.id
        AND userId = #{userId}
    </select>
</mapper>