<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.spring.mapper.WorkOrderMapper">
    <select id="findAll" resultType="com.xzit.spring.entity.WorkOrder">
        select workorder.workorderid,workorder.question,workorder.questionDate
          ,workorder.questionType,users.name from workorder,users where
          workorder.userid=users.userId and workorder.workOrderStatus='0'
    </select>
    <select id="findByWorkId" parameterType="String" resultType="com.xzit.spring.entity.WorkOrder">
        select workorder.*,users.name from workorder,users where workorderid=#{workId} and workorder.userid=users.userId
    </select>
    <insert id="insertBywork" parameterType="String">
        insert into workorder(workorderid,image) values (#{workOrderId},#{image})
    </insert>

    <insert id="insertWorkOrderInf" parameterType="com.xzit.spring.entity.WorkOrder1">
    insert into ice_box.workorder (workorderid, question,
      staffid, aftersalecardid,questionType,questionDate,
      paymethod,payment, status,
      userid , orderId, appointment,
      checkResult, consumables, consumableId,
      imagePath, address,phone)
    values (#{workorderid}, #{question}, #{staffid},
     #{aftersalecardid}, #{questionType}, #{questionDate}, #{paymethod},
     #{payment}, #{status}, #{userid}, #{orderId},
     #{appointment}, #{checkResult}, #{consumables}, #{consumableId},
      #{imagePath}, #{address}, #{phone})
  </insert>
    <select id="selectByWorkorderid" parameterType="String" resultType="com.xzit.spring.entity.WorkOrder1">
        select * from ice_box.workorder where workorderid=#{workorderid}
    </select>

    <select id="selectByOrderId" parameterType="String" resultType="com.xzit.spring.entity.WorkOrder1">
        select * from ice_box.workorder where orderId=#{orderId}
    </select>
    <!--    <select id="findById" parameterType="String" resultType="com.xzit.spring.entity.Staff">-->
    <!--            select * from staff where wordId=#{workId}-->
    <!--    </select>-->
    <!--    <update id="updateStaff">-->
    <!--        <set>-->
    <!--        <if test="record.collid != null" >-->
    <!--            collid = #{record.collid,jdbcType=INTEGER},-->
    <!--        </if>-->
    <!--        </set>-->
    <!--    </update>-->
</mapper>